# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfstate
terraform.tfstate.backup

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
localstack-env/

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Environment variables
.env
